<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.poor.mapper.PoorFinancialMapper">
    
    <resultMap type="PoorFinancial" id="PoorFinancialResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="userId"    column="user_id"    />
        <result property="aidType"    column="aid_type"    />
        <result property="aidAmount"    column="aid_amount"    />
        <result property="grantDate"    column="grant_date"    />
        <result property="grantStatus"    column="grant_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPoorFinancialVo">
        select id, student_id, user_id, aid_type, aid_amount, grant_date, grant_status, create_time, update_time from poor_financial
    </sql>

    <select id="selectPoorFinancialList" parameterType="PoorFinancial" resultMap="PoorFinancialResult">
        <include refid="selectPoorFinancialVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="aidType != null  and aidType != ''"> and aid_type = #{aidType}</if>
            <if test="aidAmount != null "> and aid_amount = #{aidAmount}</if>
            <if test="grantDate != null "> and grant_date = #{grantDate}</if>
            <if test="grantStatus != null  and grantStatus != ''"> and grant_status = #{grantStatus}</if>
        </where>
    </select>
    
    <select id="selectPoorFinancialById" parameterType="Long" resultMap="PoorFinancialResult">
        <include refid="selectPoorFinancialVo"/>
        where id = #{id}
    </select>

    <insert id="insertPoorFinancial" parameterType="PoorFinancial" useGeneratedKeys="true" keyProperty="id">
        insert into poor_financial
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="aidType != null">aid_type,</if>
            <if test="aidAmount != null">aid_amount,</if>
            <if test="grantDate != null">grant_date,</if>
            <if test="grantStatus != null">grant_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="aidType != null">#{aidType},</if>
            <if test="aidAmount != null">#{aidAmount},</if>
            <if test="grantDate != null">#{grantDate},</if>
            <if test="grantStatus != null">#{grantStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePoorFinancial" parameterType="PoorFinancial">
        update poor_financial
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="aidType != null">aid_type = #{aidType},</if>
            <if test="aidAmount != null">aid_amount = #{aidAmount},</if>
            <if test="grantDate != null">grant_date = #{grantDate},</if>
            <if test="grantStatus != null">grant_status = #{grantStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePoorFinancialById" parameterType="Long">
        delete from poor_financial where id = #{id}
    </delete>

    <delete id="deletePoorFinancialByIds" parameterType="String">
        delete from poor_financial where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>